<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Community</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= commUser.username %></h1>
    <p>This will be another user's pantry!</p>

  
 
  </body>
</html>