<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>User Community</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= commUser.username %>'s Pantry</h1>
    <ul>
      <% if (commUser.pantry.length === 0) { %>
        <p>This pantry is empty!</p>
      <% } else { %>
        <% commUser.pantry.forEach((food) => { %>
        <li>
        <%= food.name %></a>
        <% }) %>
        <% } %>
        </li>
    </ul>
 
  </body>
</html>