@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/126/665/non_2x/vector-free-kitchen-illstration.jpg');
    background-repeat: repeat-x;
    background-position-x: center;
    background-size: 100px 100px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: green;
    align-items: center;
    padding-top: 125px;
    }

.container {
    
}

.index {
border: solid black 1px;
}

.button {
    border: solid black 1px;
    font-family: 'Poppins', sans-serif;
    margin-inline-end: auto;
}