<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Item</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add New Item</h1>
    <form action="/users/<%= user._id %>/foods" method="POST">
    <label for="name">Item:</label>
    <input type="text" name="company" id="company" />

    <button type="submit">Add Item</button>
    </form>

  </body>
</html>
